syntax: glob

# Idea
*.idea
*.iws
*.iml
\.orig\..*$
\.orig$
\.chg\..*$
\.rej$
\.conflict\~$

# Compiled class
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.zip
*.tar.gz
*.rar
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# Log file
*.log

# BlueJ files
*.ctxt

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
build/
.gradle
out/